*{
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    background-color:  #263238;
}
.navbar-brand{
    font-weight: 600;
}
.navbar-brand span{
    color: orangered;
}
.navbar-collapse ul li{
    font-size: 17px;
}
.nav-link span:hover{
    color: orangered;
}
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}
.img img{
    width:15%;
    border-radius: 50%;
    margin: auto;
}

.profile{
    background: url(../media/cover.jpg);
    
    
}
.profile .text-responsive{
    color: orangered;
    font-weight: 900;
    text-shadow: 1px 1px rgb(129, 127, 127);
}
.profile p{
    color: whitesmoke;
    text-shadow: 1px 1px rgb(129, 127, 127);
}
.body{
    background-color: #37474F;
}
.experience{
    border:1px solid orangered;
}
.project{
    background:#455A64;
}
li{
    list-style-type: none;
}
.card-title{
    font-weight:600 ;
}


